<!-- <div class="oj-flex oj-sm-margin-4x">
    <h1 class="oj-typography-heading-lg">404 - Page Not Found</h1>
    <p>The page you're looking for doesn't exist.</p>
</div> -->


<div class="oj-flex oj-sm-align-items-center oj-sm-justify-content-center"
    style="height: 100vh; text-align: center; flex-direction: column;">
    <!-- <img src="css/images/images.jpeg" alt="Page Not Found"
        style="max-width: 400px; width: 100%; margin-bottom: 2rem;"> -->
    <h2>Oops! Page not found.</h2>
    <p>The page you are looking for does not exist or has been moved.</p>
</div>