<h1 style="text-align: center;">Register</h1>
<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
<oj-form-layout style="min-width: 400px;">
    <oj-input-text label-hint="Username" value="{{username}}" required="true">
    </oj-input-text>

    <oj-input-password label-hint="Password" value="{{password}}" required="true">
    </oj-input-password>
    <oj-bind-if test="[[registerMessage()]]">
        <div class="oj-text-color-danger oj-sm-margin-1-top">
            <oj-bind-text value="[[registerMessage]]"></oj-bind-text>
        </div>
    </oj-bind-if>
<div>
    <oj-button on-oj-action="[[register]]" chroming="callToAction">
        Register
    </oj-button>
    <oj-button on-oj-action="[[back]]" chroming="callToAction">
        Back
    </oj-button>
    </div>

</oj-form-layout>
</div>